*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
    margin: 0;
    padding: 0;
    color: black;
    font-family:  "Roboto", sans-serif;
}

.container{
    margin-top: 60px;
    width:100vw;
    background-color: rgba(173, 216, 230,.5);
    min-height: 100vh;
    z-index: 1;
    padding: 15px;
}

header{
    position: fixed;
    top:0;
    display: flex;
    height: auto;
    justify-content: space-between;
    width:100%;
    background-color: lightblue;
    padding: 20px;
    font-size: 20px;
    box-shadow: 2px 4px 7px grey;
    z-index: 2;
}

/*Main Modal*/
.modal {
    z-index: -1;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    overflow: auto; 
    background-color: rgba(0,0,0,0.6);
    transition: display 0.5s, opacity 0.5s;
  }

.show {
    z-index: 2;
    opacity: 1;
}

.content {
    background-color: white;
    width: 85%;
    height: auto;
    margin: auto;
    padding :5px;
    border-radius: 10px;
    overflow: scroll;
}
/* Read Modal */
.contentBody {
    background-color: white;
    width: 85%;
    height: 70%;
    margin: auto;
    padding :5px;
    border-radius: 10px;
    overflow: hidden;
}


.title{
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0;
    height: auto;
    font-size: 17px;

}
.body{
    padding: 15px;
    height: auto;
}

.titleText {
    padding: 5px;
    width: 90%;
    border: 0;
    border-bottom: 1px solid lightgray;
    margin-top: 20px;
}

.titleWrapper {
    overflow: hidden;
    width: 55%;
    height: 25px;
    font-size: 18px;
}

.bodyText{
    padding: 5px;
    border: 0;
    border-bottom: 1px solid lightgray;
    margin-top: 30px;
    white-space: pre-wrap;
}
.submit{
    display: block;
    width: 80px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    background-color: rgb(50, 50, 139);
    border-radius: 30px;
    color: white;
    border: none;
    margin: 20px auto;
    margin-bottom: 5px;
    cursor: pointer;
}
.submit:hover {
    box-shadow: 2px 4px 7px grey;
    transition: box-shadow 0.5s;

}
/* Modal functions end here */

/* main division of notes start here */
.notesDiv{
    width: 80%;
    margin: 15px auto;
    height:30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 7px #888888;
    overflow: hidden;
}
.notesTitle{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    background-color: lightgrey;
}
.icons {
    cursor: pointer;
    padding: 5px;
}
.editBtns i{
    padding: 0 5px;
    color: black;
}
.notesBody{
    padding: 15px;
}
.paraDiv{
    overflow: hidden;
    height: 38%;
    white-space: pre-wrap;
    font-size: 15px;
}

.readMore{
    position: relative;
    width: auto;
    float: right;
    top: 30px;
    text-decoration: none;
    color: grey;
    padding: 0;
    cursor: pointer;
    font-size: 12px;
}
.readMoreBody{
    padding: 20px;
    height: 85%;
    width: auto;
    overflow-y: scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
}
::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}
.close{
    float: right;
    color: black;
    font-size: 15px;
}

@media only screen and (min-width: 800px) {
    .content {
        background-color: white;
        width: 40%;
        height: auto;
        margin: auto;
        padding :5px;
        border-radius: 10px;
    }
    
    .contentBody {
        background-color: white;
        width: 85%;
        height: 70%;
        margin: auto;
        padding :5px;
        border-radius: 10px;
        overflow: hidden;
    }
    .submit{
        display: block;
        width: 80px;
        text-decoration: none;
        text-align: center;
        padding: 5px;
        font-size: 15px;
        background-color: rgb(50, 50, 139);
        border-radius: 30px;
        color: white;
        margin: 5px auto;
        margin-top: 50px;
        cursor: pointer;
    }

    .container{
        margin-top: 50px;
        width:100vw;
        background-color: rgba(173, 216, 230,.5);
        min-height: 100vh;
        z-index: 1;
        padding: 15px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
    }

    
    .notesDiv{
        width: 20vw;
        /* margin: 15px auto; */
        height:30vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 4px 7px #888888;
    }
    .contentBody{
        width: 40%;
    }
    .paraDiv{
        overflow: hidden;
        height: 41%;
        white-space: pre-wrap;
        font-size: 15px;
    }

    .readMore{
        position: relative;
        width: auto;
        float: right;
        position: relative;
        top: 40px;
        text-decoration: none;
        color: grey;
        padding: 0;
        cursor: pointer;
        font-size: 12px;
    }

     
}   